extends ../layouts/boilerplates.pug

block content
      .card
            .card-header
                  h3.card-title= article.title
                  h5.card-subtitle= `By ${article.authorName || 'Anonymous'}`
            .card-body
                  p.card-text(style="white-space: pre-line")= article.content

            .card-footer.d-flex.justify-content-between
                  .col-sm-9
                        a.mt-2(href=`/article` class="btn btn-primary") Return
                  if(currentUser && currentUser.id == article.authorID)
                        .col-sm-2
                              .row
                                    .col 
                                          a.btn.btn-success.mt-2(href=`/article/${article.id}/edit`) Edit
                                    .col
                                          form#delete(action=`/article/${article.id}?_method=delete` method='POST')
                                                input.btn.btn-danger.mt-2(type='submit' value='Delete')